{% extends 'base.html.twig' %}
{% block title %}Accès non autorisé{% endblock %}
{% block body %}
<div class="container text-center mt-4">
    <h1>Vous n'êtes pas autorisé à réaliser cette action!</h1>
    <p>L'accès est réservée aux administrateurs!<br />
    </p>
    <div class="mt-5">
        <a href="{{path('homepage')}}" class="btn btn-primary">Retournez à l'accueil </a>
        <a href="{{path('login')}}" class="btn btn-success">Se connecter</a>
    </div>
</div>
{% endblock %}